body {
  font: 11px Tahoma;
  font-family: Helvetica, Arial, Verdana;
  shape-rendering: crispEdges;
}


p {
  font: 14px Helvetica;
  font-family: Helvetica, Verdana, Arial,;
  shape-rendering: crispEdges;
}



.monthLabel {
fill:black;
}
.monthLabelMouse {
fill:#559393;
}
.label {
fill:#aaaaaa;
font: 8px Tahoma;
}
.day {
  fill: #fff;
  stroke: #ccc;
}
.month {
  fill: none;
  stroke: #444444;
  stroke-width: 1px;
}
.legend {
	padding: 0px;
	font: 10px Tahoma;
	margin-bottom:10px;
            }          
.canvas{
	margin:0px 0px 0px 0px;
}     
#container
{
	width: 1160px;
	margin: auto;
	background-color: #fff;
	border: 1px solid gray;
}
.top{
	z-index:1;
	background-color: #ddd;
	border-bottom: 1px solid gray;
	top:0;
    height:30px;
    padding: 5px 5px 5px 5px;
}
#title{
	font: 20px Tahoma;
	font-family: Helvetica, Arial, Verdana;
	color: #666;
	text-shadow: 0px 1px 1px #888;
	margin-left:10px;
}
#login{
	float:right;
}
#authorize-button {
    background: #ddd;
    border-radius: 3px;
    border: solid 1px #999;
}
#leftnav
{
	width:180px;
	height:600px;
	float:left;
	margin-top: 15px;
	padding: 1em;
}
#leftnav p{
	font: 11px Tahoma;
	font-family: Helvetica, Arial, Verdana;
	color: #333333;
}
#footer
{
	clear: both;
	padding: 5px 5px 5px 5px;
	color: #333;
	background-color: #ddd;
	border-top: 1px solid gray;
	bottom:0;
}




.RdYlGn .q0-11{fill:rgb(255,255,220)}
.RdYlGn .q1-11{fill:rgb(255,255,204)}
.RdYlGn .q2-11{fill:rgb(255,237,160)}
.RdYlGn .q3-11{fill:rgb(254,217,118)}
.RdYlGn .q4-11{fill:rgb(254,178,76)}
.RdYlGn .q5-11{fill:rgb(253,141,60)}
.RdYlGn .q6-11{fill:rgb(252,78,42)}
.RdYlGn .q7-11{fill:rgb(227,26,28)}
.RdYlGn .q8-11{fill:rgb(177,0,38)}
.RdYlGn .q9-11{fill:rgb(137,0,27)}
.RdYlGn .q10-11{fill:rgb(73,0,12)}

